body {
	font-family: arial, sans-serif;
	margin: 0;
	background: #f5f5f5;

}
header {
	background: #0077b6;
	color: white;
	padding: 15px;
	text-align: center;
}
nav a {
	margin: 10px;
	color: white;
	text-decoration: none;

}
.hero {
	text-align: center;
	padding: 200px;
	background: url(V.jpg) ;
	color: white;
}
.cards {
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 30px;
}
.card {
	background: white;
	padding: 20px;
	border-radius: 10px;
	width: 200px;
	text-align: center;

}
form {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 50px auto;

}
input, select, button {
	margin: 10px 0;
	padding: 10px;

}
button { 
	background: #0077b6;
	color: white;
	border: none;

 }
.payement-section {
	padding: 60px 20px;
	text-align: center;
}
.payement-section form {
	max-width: 400px;
	margin: auto;
	display: flex;
	flex-direction: column;

}
.row {
	display: flex;
	gap: 10px;

}
.payement-section input {
	padding: 12px;
	margin: 10px 0;
	border-radius: 6px;
	border: 1px solid #ccc;

}
.payement-section button{
	background: #00b894;
	color: white;
	border: none;
	padding: 12px;
	border-radius: 6px;
	font-weight: bold;
	cursor: pointer;

}
.payement-section button:hover {
	background: #019875;
}